# Ignore Visual Studio build and system files
.vs/
*.user
*.suo
*.VC.db
*.obj
*.exe
*.log
*.cache
*.pdb

# Ignore build output folders
x64/
Debug/
Release/

# Ignore hidden and backup files
*.tmp
*.bak
*.ipch
*.tlog